<html>
<head><title>Pulse Graphs</title></head>
<body>

<table>
<tr><td valign="top" style="padding-right: 10px">
<form action="/pulse" method="POST">
#foreach ($record in $records)
<b>$record.name</b><br/>
#foreach ($field in $record.fields)
$form.checkbox($field.id, false) $field.name<br/>
#end
#end
<input type="submit" name="submit" value="update">
</form>

</td><td width="100%" valign="top">

#set ($curid = "")
#foreach ($graph in $graphs)
#if ($curid != $graph.field.id)
#set ($curid = $graph.field.id)
$graph.field.id<br/>
#end
<img src="http://chart.apis.google.com/chart?${graph.chartParams}"/>
#end

</td></tr></table>

</body>
