<html>
<head><title>Pulse Graphs</title></head>
<body>

<table>
<tr><td valign="top" style="padding-right: 10px">
<form action="/pulse" method="POST">
{{#records}}
<b>{{name}}</b><br/>
{{#fields}}
<div style="white-space: nowrap; clear: both">
<input type="checkbox" name="{{id}}" {{#checked}}{{id}}{{/checked}}> {{name}}
</div>
{{/fields}}
{{/records}}
<input type="submit" name="submit" value="update">
</form>

</td><td width="100%" valign="top">

{{#graphs}}
{{^-first}}
<div style="width: 100%; height: 1px; background: #000000; margin: 5px 0px"></div>
{{/-first}}
<img src="http://chart.apis.google.com/chart?{{chartParams}}"/>
{{/graphs}}

</td></tr></table>

</body>
